<h1>New Slogan</h1>
<p>You can add here your slogan idea.</p>
<p>Please fill out all the fields. The winner will receive an email within April 1, 2019.</p>

<%= render 'form', slogan: @slogan %>

<%= link_to 'Back', slogans_path %>
