<h1>Flickr photos</h1>
<h2>#bikerace #BoulderBikeTour</h2>
<p>Scroll down to see some Flickr photos.</p>
<div class="photos"> </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>

<script>
  var api_key = "2f7b3ca61bf5bbdbbe5928eb5ce05f3c"
  var page = 1

  if ($(document).height() < 300) {
     alert('hi')
  }

  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() > $(document).height()-100) {

      var xhr = $.get("https://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=" + api_key + "&tags=bikerace%2C+BoulderBikeTour&per_page=40&page=" + page + "&format=json&nojsoncallback=1")

      xhr.done(function(data) { console.log("success got data", data.photos.photo);

      var photos = data.photos.photo

      for (let item of photos) {
        var farm = item.farm
        var server = item.server
        var id = item.id
        var secret = item.secret
        var title = item.title
        var url = `https://farm${farm}.staticflickr.com/${server}/${id}_${secret}.jpg`

        $(".photos").append(`<img src=${url} alt=${title}>`)
      }
    });

    page = page + 1

  }
});

</script>
