<div id="contacts">
<h1>Contacts</h1>
<p>Get in touch with as for any questions. If you want to register for the race you can send us an email or call.</p>
<div class="container text-center">
  <p>BoulderBikeTour</p>
  <p>New York, NY 10012, US</p>
  <p>info@gmail.com | + 01 234 567 88</p>
</div>
</div>
